<div class="applistparent">
    <div class="container applist">
        <div class="one">
            <a routerLinkActive="activenow" [routerLinkActiveOptions]="{exact: true}" routerLink="/">ECOMMERCEAPP</a>
        </div>
        <div class="two">
            <a routerLinkActive="activenow" routerLink="/register">REGISTER</a>
            <p>&nbsp; &nbsp; &nbsp; </p>
            <a routerLinkActive="activenow" routerLink="/login">LOGIN</a>
            <p>&nbsp; &nbsp; &nbsp; </p>
            <a routerLinkActive="activenow" routerLink="/cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>