.applistparent{
    background-color:azure;
    padding-top: 10px;
}

.applist{
    display: flex;
    justify-content: space-between;
}
p,a{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.activenow{
    color: green;
}
.notification{
    background-color: rgb(0, 66, 33);;
    color: white;
    margin: 0px 5px;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    display: inline-block;
    padding: 2px 10px;
}
.fa{
    font-size: 20px;
}