p{
    font-weight: bold;
}
button{
    padding: 2px 10px;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 1px 15px;
}
.incresebutton,.removebutton{
    background-color: rgb(0, 66, 33);
    color: white;
    transition: all 0.4s ease-in-out;
}
.removebutton{
    margin-bottom: 10px;
}
.decresebutton{
    color: rgb(0, 66, 33);
    background-color: white;
    transition: all 0.4s ease-in-out;
}
.incresebutton:hover,.removebutton:hover{
    color: rgb(0, 66, 33);
    background-color: white;
}
.decresebutton:hover{
    background-color: rgb(0, 66, 33);
    color: white;
}
